<div ng-hide="status.isCallForwardDataLoaded">Loading ...</div>
<div ng-show="status.isCallForwardDataLoaded">
  Her kan du slå viderestilling af din bredbåndstelefoni til- og fra, og du kan vælge hvilke typer viderestilling du ønsker at aktivere.
  <label class="checkbox callforward">
    <input type="checkbox" ng-model="status.allowCallForward">
    Ja tak, slå viderestilling til.
  </label>
  <div ng-show="status.allowCallForward">
    <div class="form-group" >
      <label >Opkald der skal viderestilles:</label>
      <select class="form-control" ng-model="status.whichCallsToForward">
        <option value="none" >Vælg her</option>
        <option value="all" >Alle opkald</option>
        <option value="noResponsOrBusy" >Opkald hvor der ikke svares eller er optaget</option>
      </select>
    </div>
    <div class="form-group" ng-if="isDropDownSelected(status.whichCallsToForward)">
      <label >Opkald viderestilles til:</label>
      <select class="form-control" ng-model="status.forwardToSelect"  >
        <option value="none" >Vælg her</option>
        <option value="voiceMail" >Voice mail</option>
        <option value="phoneNumber" >Andet nummer</option>
      </select>
    </div>
    <div class="form-group" ng-if="isForwardedToOtherNumber()">
      <label >Nummer der viderestille til:</label>
      <input class="form-control" type="text" ng-model="status.phoneNumber">
    </div>
    <div class="form-group" ng-if="canSave()">
      <button type="button" class="btn btn-sm btn-primary" ng-click="saveClick()">Gem instillinger</button>
    </div>
    <span ng-show="status.alert">
      <alert type="success" >Din viderestilling er blevet ændret.</alert>
    </span>

  </div>
</div>
