
  <h1>TDC Demo</h1>

  <div ng-controller="MainCtrl">

    <accordion >
      <accordion-group heading="Spærring" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
        Panel <strong>content</strong> 2
      </accordion-group>
      <accordion-group >
        <div ng-controller="ForwardCtrl">
        <accordion-heading>
          <div ng-click="callForwardClick()">Viderestilling</div>
        </accordion-heading>
          <ng-include src="'views/callforwardform.html'"></ng-include>
        </div>
      </accordion-group>
      <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
        {{group.content}}
      </accordion-group>
    </accordion>
  </div>
